
.center {

}

.presets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    transition: opacity ease 0.3s;
}

.presetItem {
    padding: 0.4em;
    font-size: 2em;
    opacity: 0.4;
    transition: opacity ease 0.3s;
    margin-left: 0.2em;
    margin-right: 0.2em
}

.presetItem:hover {
    cursor: progress;
    opacity: 1;
    transition: opacity ease 0.3s;
}

.opacityZero {
    opacity: 0;
    transition: opacity ease 0.3s;
}

.time {
    font-size: 14em;
    padding: 48px;
    display: flex;
    font-weight: 600;
}

.digitsMin {
    width: 1.2em;
    text-align: right;
}

.digitsSec {
    width: 1.2em;
    text-align: left;
}

.controls {
    text-align: center;
}

button {
    font-size: 4em;
    background-color: transparent;
    border: none;
    padding: 0.4em;
}

button:hover {
    cursor: pointer;
}

@keyframes blink {
    0% {
        opacity: 1.0;
        animation-timing-function: ease;
    }
    50% {
        opacity: 0.3;
        animation-timing-function: ease;
    }
    100% {
        opacity: 1.0;
        animation-timing-function: ease;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
        animation-timing-function: ease;
    }
    50% {
        opacity: 0.4;
        animation-timing-function: ease;
    }
    100% {
        opacity: 1.0;
        animation-timing-function: ease;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}
