
/**
 * Slido Green: #39AC37
 * Slido Red: #D23C1E
 */

.centerPage {
    background-color: #39AC37;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
    transition: background-color ease 0.5s;
}

.red {
    background-color: #D23C1E;
    transition: background-color ease 0.5s;
}
