@font-face {
  font-family: 'SlidoSans';
  font-weight: 500;
  src: local('SlidoSans'), url(./fonts/SlidoSans-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'SlidoSans';
  font-weight: 600;
  src: local('SlidoSans'), url(./fonts/SlidoSans-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'SlidoSans';
  font-weight: 700;
  src: local('SlidoSans'), url(./fonts/SlidoSans-DemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'SlidoSans';
  font-weight: 800;
  src: local('SlidoSans'), url(./fonts/SlidoSans-Bold.otf) format('opentype');
}


body, button {
  margin: 0;
  font-family: 'SlidoSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
